<section class="credential">
    {{ pimcore_areablock("Headline", {
        "allowed": [
            "academy-credential-image",
            "academy-credential-content"
        ]
    }) }}

</section>
