{% if editmode %}

    {{ include("@PimcorePortalEngine/shared/editmode/select.html.twig", {
        id: "size",
        label: "content.size",
        config: {
            store: [
                ["medium", "medium"],
                ["big", "big"],
            ],
            reload: true
        }
    }) }}

{% endif %}

{% if editmode %}
    <div class="mb-2">

        {{ pimcore_image("image", {
            width: 100,
            reload: true
        }) }}
    </div>
{% endif %}

{{ include("@PimcorePortalEngine/shared/teaser/basic.html.twig", {
    title: pimcore_input("title"),
    description: pimcore_textarea("description", {nl2br: true}),
    imageEditable: "image",
    url: not editmode ? pimcore_link("link").href,
    target: not editmode ? pimcore_link("link").target,
    size: pimcore_select("size").data,
    content: editmode ? pimcore_link("link") : null
}) }}