{% set teasers = pimcore_block("teasers", {manual: true}).start() %}

<div class="row vertical-gutter {{ editmode ? "my-3" }}">
    {% for teaser in pimcore_iterate_block(teasers) %}

        {% do teasers.blockConstruct() %}

        {% if editmode %}

            <div class="col-md-3 vertical-gutter__item">
                {% do teasers.blockStart() %}

                {{ include("@PimcorePortalEngine/Areas/portal-engine-teasers/item.html.twig") }}

                {% do teasers.blockEnd() %}
            </div>

        {% else %}

            {% do teasers.blockStart() %}

            {% set size = "2" %}

            {% if pimcore_select("size").data == "big" %}
                {% set size = "4" %}
            {% endif %}

            <div class="col-md-{{ size }} vertical-gutter__item">
                {{ include("@PimcorePortalEngine/Areas/portal-engine-teasers/item.html.twig") }}
            </div>

            {% do teasers.blockEnd() %}

        {% endif %}

        {% do teasers.blockDestruct() %}

    {% endfor %}
</div>
{% do teasers.end() %}