{% block debugmode_info %}
    {% if inDebugMode %}
        <div class="alert alert-light">
            <h4 class="alert-heading">Debug Info (visible in Pimcore debug mode only)</h4>
            <pre>{{ debugInfo|raw }}</pre>
        </div>
    {% endif %}
{% endblock %}