{% extends 'layouts/layout.html.twig' %}

{% block content %}

    <section class="academy_overview__page advisory__page">
        <section class="about">
            <div class="about_bg_circle"></div>
            <div class="about_bg_ipos"><img src="/static/images/IPOS.d59bcba.svg" alt=""></div>
            <div class="container about_content">
                <div class="breadcrumb m-b-80">
                   {% include('layouts/breadcrumb.html.twig') %}
                </div>
                {{ pimcore_areablock('headlines',{
                    "allowed" : ["advisory-headlines"]
                }) }}
            </div>
        </section>

        {{ pimcore_areablock('content',{
            "allowed" : ["advisory-tools","advisory-explore"]
        }) }}

    </section>

{% endblock %}
