{% if editmode %}

    {{ pimcore_link("link") }}

    <div class="pee-absolute-action">
        {{ include("@PimcorePortalEngine/shared/editmode/configuration/open_sidebar_button.html.twig", {
            inline: true,
            sidebarId: sidebarId
        }) }}
    </div>

{% endif %}