<div class="part2">
    <p class="sub-title">{{ pimcore_input('title',{'placeholder' : 'title...'}) }}</p>

    {{ pimcore_link('find-more',{
        imgAttributes : {class : 'find-more'},
        'textSuffix' : '<span class="icon-external-arrow" style="background-image:url(/static/images/icon-external-arrow.77131c9.svg)"></span>'
    }) }}
</div>
