{% extends 'layouts/layout-20241231.html.twig' %}

{% block content %}

<section class="academy_enterprise_detail__page advisor_detail__page overflow-hidden">
    <section class="detail articles_details_container career-our-people-and-culture">
        <div class="bg_circle_right"></div>
        <div class="program-bg-right"><img src="/static/static/assets/images/program-right.b0d0785.svg" alt=""></div>
        <div class="container">
            <div class="breadcrumb black m-b-80">
                {% include('layouts/breadcrumb.html.twig') %}
            </div>
            <div class="container page__title__container">
                <div class="row">
                    <div class="col-12">
                    <p class="p__title">Our People & Culture</p>
                    </div>
                </div>
                </div>
                <div class="details_img_body_container container">
                <div class="row">
                    <div class="col-12">
                    <div class="content_main_img"><img class="content_img" src="/static/static/assets/images/credential_banner.457068b.png">
                    </div>
                    </div>
                </div>
                </div>
                <div class="container">
                <div class="row main-articles">
                    <div class="col-md-9 col-12 padding-right-90 the-articles">
                    <h3>Where Innovation Meets Collaboration</h3>
                    <p class="p_desc">At IPOS International, our people are at the heart of everything we do. We believe that
                        innovation thrives in a supportive, inclusive, and collaborative environment. That’s why we’ve built a
                        culture where everyone is empowered to contribute, grow, and make an impact.
                    </p>
                    <p class="p_desc">
                        Diversity and teamwork are the cornerstones of our success. From IP strategists to policy experts, our teams
                        bring together a wide range of expertise and perspectives. This dynamic mix enables us to tackle challenges
                        creatively and deliver meaningful solutions for our clients and communities.
                    </p>
                    <p class="p_desc">
                        We’re more than just a workplace—we’re a community driven by shared purpose and passion. Whether it’s
                        through our professional development programs, team-building activities, or commitment to work-life balance,
                        we invest in creating a positive environment where our people can excel.
                    </p>
                    <div class="section-image">
                        <div class="bottom-video-section row">
                        <div class="video-section">
                            <div class="video-container">
                            <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Video Thumbnail">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/H8V_nOs55j4?si=dpwzKK6lmZkyVwQV"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="thumbnail-carousel-container">
                            <div class="thumbnail-carousel" style="overflow: hidden; white-space: nowrap;">
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/cyclect.5c4798a.jpg" alt="Thumbnail 1">
                                <iframe class="d-none" width="560" height="315"
                                src="https://www.youtube.com/embed/H8V_nOs55j4?si=dpwzKK6lmZkyVwQV" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            </div>
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/CPVA.d5ee92d.jpeg" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/tools.40b83c3.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/cyclect.5c4798a.jpg" alt="Thumbnail 1">
                                <iframe class="d-none" width="560" height="315"
                                src="https://www.youtube.com/embed/H8V_nOs55j4?si=dpwzKK6lmZkyVwQV" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            </div>
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                                <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            </div>

                            <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" fill="none">
                                <rect width="27" height="27" x=".5" y=".89" fill="#fff" rx="13.5" />
                                <rect width="27" height="27" x=".5" y=".89" stroke="#DDD" rx="13.5" />
                                <path stroke="#470A68" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                stroke-width="1.5" d="m11.38 9.14 5.24 5.25-5.25 5.25" />
                            </svg>
                            </div>
                            <div class="arrow-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" fill="none">
                                <rect width="27" height="27" x=".5" y=".89" fill="#fff" rx="13.5" />
                                <rect width="27" height="27" x=".5" y=".89" stroke="#DDD" rx="13.5" />
                                <path stroke="#470A68" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                stroke-width="1.5" d="m11.38 9.14 5.24 5.25-5.25 5.25" />
                            </svg>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3 col-12 m-p-0">
                    <div class="job-opening-container">
                        <h2>Join Us and Shape Innovation!</h2>
                        <p>Take the next step in your career. Join IPOS International and drive innovation!</p>
                        <a>Explore Our Job Openings</a>
                    </div>
                    </div>
                </div>
                <div class="main-articles section-2">
                    <div class="bottom-video-section row">
                    <div class="col-md-9 col-12 padding-right-90 padding-left-0">
                        <div class="video-section">
                        <div class="video-container">
                            <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Video Thumbnail">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/H8V_nOs55j4?si=dpwzKK6lmZkyVwQV"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        </div>

                        <div class="thumbnail-carousel-container">
                        <div class="thumbnail-carousel" style="overflow: hidden; white-space: nowrap;">
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/cyclect.5c4798a.jpg" alt="Thumbnail 1">
                            <iframe class="d-none" width="560" height="315"
                                src="https://www.youtube.com/embed/H8V_nOs55j4?si=dpwzKK6lmZkyVwQV" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            </div>
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/CPVA.d5ee92d.jpeg" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/tools.40b83c3.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/cyclect.5c4798a.jpg" alt="Thumbnail 1">
                            <iframe class="d-none" width="560" height="315"
                                src="https://www.youtube.com/embed/H8V_nOs55j4?si=dpwzKK6lmZkyVwQV" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            </div>
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                            <div class="img-slider-container">
                            <img src="/static/static/assets/images/credential_banner.457068b.png" alt="Thumbnail 1">
                            </div>
                        </div>

                        <div class="arrow-right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" fill="none">
                            <rect width="27" height="27" x=".5" y=".89" fill="#fff" rx="13.5" />
                            <rect width="27" height="27" x=".5" y=".89" stroke="#DDD" rx="13.5" />
                            <path stroke="#470A68" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                stroke-width="1.5" d="m11.38 9.14 5.24 5.25-5.25 5.25" />
                            </svg>
                        </div>
                        <div class="arrow-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" fill="none">
                            <rect width="27" height="27" x=".5" y=".89" fill="#fff" rx="13.5" />
                            <rect width="27" height="27" x=".5" y=".89" stroke="#DDD" rx="13.5" />
                            <path stroke="#470A68" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                stroke-width="1.5" d="m11.38 9.14 5.24 5.25-5.25 5.25" />
                            </svg>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="text-container">
                        <h2>Video 1 Title Copy Here</h2>
                        <p>Lorem ipsum dolor sit amet consectetur. Egestas condimentum neque facilisis leo. Euismod feugiat
                            rutrum
                            quam hendrerit eu. Diam dictumst mauris aliquam scelerisque in justo. Purus eleifend ultricessr.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
    </section>
</section>
<script>
    $(".item-style").parent().addClass('col-lg-3 tab-col')
</script>
<script>
    $(document).ready(function () {
      const isMobile = $(window).width() <= 768;

      if (!isMobile) {
        const jobContainer = $('.job-opening-container');
        const articles = $('.the-articles');
        let jobContainerHeight = jobContainer.outerHeight();
        let articlesBottom = articles.offset().top + articles.outerHeight();

        // Function to update positions and recalculate dynamic values
        function updatePositions() {
          jobContainerHeight = jobContainer.outerHeight();
          articlesBottom = articles.offset().top + articles.outerHeight();
        }

        // Function to handle scroll and positioning logic
        function handleScroll() {
          const scrollTop = $(window).scrollTop();
          const articlesOffset = articles.offset().top;

          if (scrollTop > articlesOffset && scrollTop + jobContainerHeight < articlesBottom) {
            // Fix the position when scrolling inside `.the-articles`
            jobContainer.css({
              position: 'fixed',
              top: '10px',
            });
          } else if (scrollTop + jobContainerHeight >= articlesBottom) {
            // Stop the container at the bottom of `.the-articles`
            jobContainer.css({
              position: 'absolute',
              top: articlesBottom - articlesOffset - jobContainerHeight + 'px',
            });
          } else {
            // Reset to default position
            jobContainer.css({
              position: 'static',
            });
          }
        }

        // Initial calculation on document ready
        updatePositions();
        handleScroll();

        // Attach scroll and resize event listeners
        $(window).on('scroll resize', function () {
          updatePositions();
          handleScroll();
        });
      }
    });


    $(document).ready(function () {
      const videoContainer = $(".video-container");
      const thumbnails = $(".img-slider-container");
      const thumbnailCarousel = $(".thumbnail-carousel");
      const arrowLeft = $(".arrow-left");
      const arrowRight = $(".arrow-right");
      const thumbnailWidth = thumbnails.outerWidth(true); // Width of a single thumbnail including margin
      const visibleThumbnails = 7; // Number of thumbnails visible at once
      let currentSlide = 0; // Tracks the current slide position

      // Function to update video content
      function updateVideoContent(thumbnail) {
        const iframe = thumbnail.find("iframe");
        const img = thumbnail.find("img");
        videoContainer.empty(); // Clear the video container

        if (iframe.length) {
          // If an iframe exists, display it
          videoContainer.append(iframe.clone().removeClass("d-none"));
        } else if (img.length) {
          // If only an image exists, display it
          videoContainer.append(img.clone());
        }
      }

      // Function to update arrow states
      function updateArrowState() {
        arrowLeft.toggleClass("inactive", currentSlide === 0);
        arrowRight.toggleClass(
          "inactive",
          currentSlide >= thumbnails.length - visibleThumbnails
        );
      }

      // Thumbnail click handler
      thumbnails.click(function () {
        const clickedThumbnail = $(this);
        thumbnails.removeClass("active");
        clickedThumbnail.addClass("active");
        updateVideoContent(clickedThumbnail);
      });

      // Slide carousel to the left
      arrowLeft.click(function () {
        if (currentSlide > 0) {
          currentSlide--;
          thumbnailCarousel.animate(
            { scrollLeft: currentSlide * thumbnailWidth },
            300
          );
          updateArrowState();
        }
      });

      // Slide carousel to the right
      arrowRight.click(function () {
        if (currentSlide < thumbnails.length - visibleThumbnails) {
          currentSlide++;
          thumbnailCarousel.animate(
            { scrollLeft: currentSlide * thumbnailWidth },
            300
          );
          updateArrowState();
        }
      });

      // Initialize first content
      thumbnails.first().click(); // Load the first thumbnail content
      updateArrowState(); // Update arrow states
    });
  </script>
{% endblock %}