<section class="tools b">
    <div class="tools_image">
        {{ pimcore_image("overviewTool", {
            "class" : "cover",
            "thumbnail": "advisoryOverview"
        }) }}
        {#<img class="cover" src="/static/images/tools.40b83c3.png" alt="">#}
    </div>
    <div class="tools_content">
        <div class="tools_content_container">
            <div class="txt-regular color-purple">&nbsp</div>

            <div class="space-32"></div>
            <h3>{{ pimcore_input('title',{'placeholder' : 'title'}) }}</h3>
            <section id="marked-content">
                {{  pimcore_wysiwyg("specialContent", {
                    "height": 200,
                    "placeholder" : "edit content..."
                })
                }}
            </section>
            <div class="space-32">
            </div>

            {{ pimcore_link('findLink',{
                'class' : 'color-orange'
            }) }}
        </div>
    </div>
</section>
