{% set breadcrumbStr = pimcore_render_nav(mainNavigation, 'breadcrumbs')  %}

            {% set breadcrumb = breadcrumbStr | split('&gt;') %}
            {% set breadcrumbCount = breadcrumb | length %}


{{ dump(breadcrumbStr) }}

<ol>

    <li><a href="/">{{ 'Home'|trans }}</a> </li>
    {% for key, linkNode in breadcrumb %}
        {% if key == (breadcrumbCount - 1) %}
            <li class="active">
                {{ linkNode | raw }}
            </li>
        {% else %}
            <li class="testing">
                {{ linkNode | raw }}
            </li>
        {% endif %}

    {% endfor %}

</ol>
