<h5>{{ 'portal-engine.data-pool.upload_folder'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</h5>

<div class="form-group mt-3 editmode-relation-form-group">

    {{ pimcore_relation(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\AssetConfig::UPLOAD_FOLDER'), {types:['asset'],subtypes:['folder']}) }}

</div>