<div class="content-vid-img">
    <!--<img src="/assets/images/CPVA.d5ee92d.jpeg" alt="">-->
    {{ pimcore_image('ipStartImg',{
        'thumbnail' : 'background',
        'height' : 200,
        'hidetext' : true
    }) }}

</div>