{% extends "@PimcorePortalEngine/layout/default.html.twig" %}

{% block head %}

    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
    />

    {{ encore_entry_link_tags('explorer', null, 'pimcoreStatisticsExplorer') }}

    {% include "@PimcorePortalEngine/shared/layout/head.html.twig" %}

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="main-content__main">

            <h1 class="mb-4 mt-1">{{ 'portal-engine.content.headline.statistic-explorer-overview'|trans() }}</h1>

            <div id="statistics-explorer"></div>

        </div>
    </div>

    <script type="text/javascript">
        statisticsExplorerConfig = {
            dataSourceListUrl: '/_portal-engine/stats/portal/data-sources',
            fieldsListUrl: '/_portal-engine/stats/portal/field-collection',
            resultDataUrl: '/_portal-engine/stats/portal/data',
            loadFieldSettingsUrl: '/_portal-engine/stats/portal/field-settings',
            loadConfigurationListUrl: '/_portal-engine/stats/portal/load-configuration-list',
            saveConfigurationUrl: '/_portal-engine/stats/portal/save-configuration',
            loadConfigurationUrl: '/_portal-engine/stats/portal/load',
            deleteConfigurationUrl: '/_portal-engine/stats/portal/delete',
            translationsUrl: '/_portal-engine/stats/portal/translations'
        }
    </script>

    {{ encore_entry_script_tags('explorer', null, 'pimcoreStatisticsExplorer') }}

{% endblock %}
