<section class="discover-section">
    <div style="margin: auto;">
        <div class="discover-content tools">
            <!-- Image Section -->
                <div class="tools_image">
                    {{ pimcore_image("overviewTool", {
                        "class" : "cover",
                        "thumbnail": "advisoryOverview"
                    }) }}
                    {#<img class="cover" src="/static/images/tools.40b83c3.png" alt="">#}
                </div>
            <!-- Text Section -->
            <div class="discover-text">
                <div class="discover-text-wrapper">
                    <h2>
                        {{ pimcore_input('title',{'placeholder' : 'title'}) }}
                    </h2>
                    <p>
                            {{  pimcore_wysiwyg("specialContent", {
                                "placeholder" : "edit content..."
                            })
                        }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>