{% extends "@PimcorePortalEngine/layout/default.html.twig" %}

{% block content %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search-detail', null, webpack_build()) }}
{% endblock %}