.career-job-opening {

    @media screen and (max-width: 768px) {
        padding: 20px 25px;
    }

    h1 {
        margin-bottom: 40px;

        @media screen and (max-width: 768px) {
            font-family: Rubik;
            font-size: 42px;
            font-weight: 300;
            line-height: 50.4px;
            margin-bottom: 20px;
        }

    }

    .row.spare-column {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    .course_result {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sortBy {
            position: relative;

            span {
                margin-right: 8px;
            }

            .sortBy {
                position: relative;
                font-size: 16px;
                color: #fff;
            }

            .dropdown-container {
                position: relative;
                display: inline-block;
            }

            .dropdown-header {
                background-color: transparent;
                padding: 10px 0;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                .title {
                    color: #fff;
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 21px;
                    opacity: 1;
                }

            }

            .dropdown-header svg {
                margin-left: 8px;
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }

            .dropdown-container.open .dropdown-header svg {
                transform: rotate(180deg);
            }

            .dropdown-list {
                display: none;
                position: absolute;
                background-color: #fff;
                color: #4A008E;
                /* Purple text */
                border-radius: 4px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                margin-top: 8px;
                list-style: none;
                padding: 0;
                width: 100%;
                z-index: 100;
                padding: 8px 0;
                min-width: 120px;
                right: 0;
            }

            .dropdown-list li {
                padding: 10px;
                cursor: pointer;
            }

            .dropdown-list li:hover,
            .dropdown-list .active {
                background-color: #4A008E;
                color: #fff;
            }

            .dropdown-container.open .dropdown-list {
                display: block;
            }
        }
    }

    .job-opening-content {
        .course_content_item {
            align-items: center;
            min-height: 125px;
            padding: 20px 24px;

            transition: all ease-in-out;

            &:hover {
                background-color: #ede7f0;

                .job-opening-right {
                    svg path {
                        stroke-width: 3;
                    }
                }
            }

            .course_content_item_center {
                margin: 0;
            }

            &::after {
                display: none;
            }

            .content_top {
                .content_title {
                    font-family: Rubik;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 31.2px;

                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 28px;
                    }

                }
            }

            .content-description {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #333333;

                @media screen and (max-width: 768px) {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                }

            }

            .time {
                span {
                    font-family: Rubik;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16.8px;
                    color: #595959;
                }
            }
        }

        .job-opening-right {
            border-left: none;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            justify-content: space-between;
            padding: 8px 16px;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;

            @media screen and (max-width: 768px) {
                padding: 8px 0;
                margin-left: 30px;
            }

        }
    }

    .cv-container {
        color: white;
        max-width: 400px;
        flex: 1;
        min-width: 356px;

        @media screen and (max-width: 768px) {
            min-width: 100%;
        }

        .cv-container-wrapper {
            background-color: #747b7f;
            border: 1px solid #d9d9d9;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 10px;
        }
    }

    .cv-container h2 {
        font-family: Rubik;
        font-size: 24px;
        font-weight: 300;
        line-height: 31.2px;
        text-align: left;
        margin-bottom: 16px;
    }

    .cv-container p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin-bottom: 16px;
    }

    .cv-container a {
        background: #4A007E;
        color: white;
        border: none;
        padding: 16px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: block;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        text-align: center;
    }

    .cv-container button:hover {
        background-color: #5a008f;
    }
}