<div class="col-lg-4 col-md-3">
    <div class="share">
        <div class="text">Share</div>
        <a class="share-item" href="https://www.facebook.com/iposintl">
            <img src="/static/images/icon-fb.5385053.svg" alt="">
        </a>
        <a class="share-item" href="https://www.linkedin.com/company/iposintl">
            <img src="/static/images/icon-in.eea5837.svg" alt="">
        </a>
        <a class="share-item" href="https://twitter.com/iposintl">
            <img src="/static/images/icon-tw.f378db6.svg" alt="">
        </a>
        <a class="share-item" href="enquiry@iposinternational.com">
            <img src="/static/images/icon-email.940dc0d.svg" alt="">
        </a>
    </div>
</div>
