<div class="container page__part__title__container">
    <div class="row">
        <div class="col-12">
            <p class="p__part__title">{{ pimcore_input('headTitle',{'placeholder' : 'headTitle..'}) }}</p>
        </div>
    </div>
</div>
<div class="container body_table_container">
    {{ pimcore_areablock('subBlock',{
        "allowed" : ["useful-grants-block"]
    }) }}
</div>
