{% extends "@PimcorePortalEngine/layout/default.html.twig" %}

{% block content %}
    {{ include("@PimcorePortalEngine/shared/editmode/content/configure.html.twig") }}

    <div class="my-4">
        <div class="container">
            <div class="card">
                <h3 class="card-header mb-0">
                    <span
                        class="card-header__btn d-block">{{ 'portal-engine.data-pool.language-variant-reference'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</span>
                </h3>

                <div class="card-body">
                    {{ pimcore_relation(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\LanguageVariant::REFERENCED_DOCUMENT'), {types:['document']}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}