{% extends "@PimcorePortalEngine/layout/default.html.twig" %}

{% block content %}
    {{ include("@PimcorePortalEngine/shared/editmode/content/configure.html.twig") }}

    <div class="my-4">
        <div class="container">
           <div class="alert alert-danger">
               {{ "portal-engine.language-variant.invalid-document-reference"|trans }}
           </div>
        </div>
    </div>
{% endblock %}