{#                            <a class="btn full-white mt-36" href="/pdf/-Brochure - Discover Your Intangible Assets.pdf" download>Download  Brochure</a>#}
                            {{ pimcore_link('downloadFile',{
                                'class' : 'btn full-white mt-36'
                            }) }}
{#                            <a class="btn border-purple" href="/resources/faqs/">Read The FAQs</a>#}
                            {{ pimcore_link('faq',{
                                'class' : 'btn border-purple'
                            }) }}
