<div class="form-group">
    <label
        class="form-control-label">{{ 'portal-engine.data-pool.data-objects.available-download-formats'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</label>
    <div>
        {% if downloadFormatsStore %}
            {{ pimcore_multiselect(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\DataPoolConfig::AVAILABLE_DOWNLOAD_FORMATS'), {width:300, height: 250, store: downloadFormatsStore}) }}
        {% else %}
            <span
                class="text-info">{{ 'portal-engine.data-pool.data-objects.no-download-formats-configured'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</span>
        {% endif %}
    </div>
</div>