<div class="form-group">
    <label class="form-control-label">
        {{ 'portal-engine.data-pool.direct-download-shortcuts'|trans([], 'admin', portalEngine_editmode_admin_language()) }}

        <small class="d-block">
            {{ 'portal-engine.data-pool.available-download-thumbnails.original-as-default-if-nothing-selected'|trans([], 'admin', portalEngine_editmode_admin_language()) }}
        </small>
    </label>

    <div>
        {{ pimcore_multiselect(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\AssetConfig::DIRECT_DOWNLOAD_SHORTCUTS'), {width:300, height: 250, store: downloadThumbnailStore}) }}
    </div>
</div>