<div class="row">
    <div class="col">

        <div class="form-group">
            <label
                class="form-control-label h5">{{ 'portal-engine.data-pool.grid-configuration-attributes'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</label>
            <div>
                {{ pimcore_multiselect(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\DataPoolConfig::GRID_CONFIGURATION_ATTRIBUTES'), {width:300, height: 250, store: gridConfigurationAttributes}) }}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label
                class="form-control-label h5">{{ 'portal-engine.data-pool.grid-configuration-name-attribute'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</label>
            <div>
                {{ pimcore_select(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\DataPoolConfig::GRID_CONFIGURATION_NAME_ATTRIBUTE'), {width:300, store: gridConfigurationAttributes, defaultValue: 'system_fields.name'}) }}
            </div>
        </div>
    </div>
</div>
