<h5>{{ 'portal-engine.data-pool.pre-condition-service'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</h5>

<div class="form-group mt-3">

    {% if preConditionServiceStore %}
        {{ pimcore_select(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\DataPoolConfig::PRECONDITION_SERVICE_ID'), {width:800, store: preConditionServiceStore}) }}
    {% else %}
        <span
            class="text-info">{{ 'portal-engine.data-pool.no-pre-condition-service-registered'|trans([], 'admin', portalEngine_editmode_admin_language()) }}</span>
    {% endif %}

</div>