<div>
    {{ pimcore_checkbox(constant('Pimcore\\Bundle\\PortalEngineBundle\\Enum\\Document\\Editables\\DataPool\\DataPoolConfig::ENABLE_VERSION_HISTORY'), {label:'portal-engine.data-pool.enable-version-history'|trans([], 'admin', portalEngine_editmode_admin_language())}) }}
</div>