{% extends "@PimcorePortalEngine/layout/default.html.twig" %}

{% block content %}

    <div id="root"></div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('download-cart', null, webpack_build()) }}
{% endblock %}