<div class="row">
    <div class="col-lg-8">
        <h1 class="m-b-40">{{ pimcore_input("headlines",{'placeholder' : 'headlines'}) }}</h1>
        <div class="row detail_left">
            <div class="col-lg-8"></div>
            <p class="txt-regular m-b-30">
            <section id="marked-content">
                {{  pimcore_wysiwyg("specialContent", {
                    "height": 200,
                    "placeholder" : "edit content...",
                    "toolbar1": "a11ychecker advcode advlist advtable anchor autocorrect autolink autoresize autosave casechange charmap checklist code codesample directionality editimage emoticons export footnotes formatpainter fullscreen help image importcss inlinecss insertdatetime link linkchecker lists media mediaembed mentions mergetags nonbreaking pagebreak pageembed permanentpen powerpaste preview quickbars save searchreplace table tableofcontents template tinycomments tinydrive tinymcespellchecker typography visualblocks visualchars wordcount"
                })
                }}
            </section>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11">
        {{ pimcore_image('headImg',{
            imgAttributes:{class:'img-fluid w-100'},
        }) }}
    </div>
</div>
