<div class="row">
    <div class="col-lg-8">
        <h1 class="m-b-40">{{ pimcore_input("headlines",{'placeholder' : 'headlines'}) }}</h1>
        <div class="row detail_left">
            <div class="col-lg-8"></div>
            <p class="txt-regular m-b-30">
            <section id="marked-content">
                {{  pimcore_wysiwyg("specialContent", {
                    "height": 200,
                    "placeholder" : "edit content..."
                })
                }}
            </section>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11">
        {{ pimcore_image('headImg',{
            imgAttributes:{class:'img-fluid w-100'},
        }) }}
    </div>
</div>
