{% extends "@PimcorePortalEngine/error_page/base_error_page.html.twig" %}

{% block error_page_content_details %}
    <span class="display-1 d-block">{{ "portal-engine.404.headline"|trans }}</span>
    <div class="mb-4 lead">{{ "portal-engine.404.message"|trans }}</div>
{% endblock %}