{% extends "@PimcorePortalEngine/layout/default.html.twig" %}

{% block content %}
    <div class="container">

        {% block error_page_content %}
            <div class="alert alert-danger mt-5" role="alert">
                <h4 class="alert-heading">{{ "portal-engine.access-denied.headline"|trans }}</h4>
                <p>{{ "portal-engine.access-denied.message"|trans }}</p>
            </div>
        {% endblock %}

        {{ include('@PimcorePortalEngine/error_page/shared/debug_info.html.twig')}}

    </div>
{% endblock %}