{# @var publicShare \Pimcore\Bundle\PortalEngineBundle\Entity\PublicShare#}
{% extends "@PimcorePortalEngine/layout/public.html.twig" %}

{% block content %}
    <div class="container">

        {% block error_page_content %}
            <h4 class="mt-3 mb-3">{{ publicShare.name }}</h4>

            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">{{ "portal-engine.public-share-expired.headline"|trans }}</h4>
                <p>{{ "portal-engine.public-share-expired.message"|trans }}</p>
            </div>
        {% endblock %}

        {{ include('@PimcorePortalEngine/error_page/shared/debug_info.html.twig')}}
    </div>
{% endblock %}