<div class="subscribe_window">
    <p class="title">{{ pimcore_input('guidText',{'placeholder' : 'Get the Full Complimentary Guide'}) }}</p>

    {{ pimcore_link('english',{
        'class' : 'subscribe_now'
    }) }}

    {{ pimcore_link('chinese',{
        'class' : 'subscribe_now'
    }) }}

</div>
