<div class="container page__title__container">
    <div class="row">
        <div class="col-12">
            <p class="p__title">Frequently Asked Questions</p>
        </div>
    </div>
</div>
<div class="slide-container container">
    <div class="row">
        <div class="col-md-3">
            <div class="slide-menu-container">
                <p class="slide_title">TOPICS</p>
                <nav class="menu-container">
                    <a class="menu-item active" herf="part_1">Intellectual Property and Intangible Assets</a>
                    <a class="menu-item" herf="part_2">Discover Intangible Assets</a>
                    <a class="menu-item" herf="part_3">International Business Continuity Planning (BCP)</a>
                </nav>
            </div>
        </div>
        <div class="col-md-9">
            <div class="slide-body-container">
                <div class="part part_1">
                    <p class="p__title">Intellectual Property and Intangible Assets</p>
                    <div class="collapse-container">
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">What are intangible assets?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">What is the difference between intangible assets and intellectual property?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">What are the different types of intangible assets?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content">
                                <div class="content-part-title"> Copyright</div>
                                <div class="content-part-txt"> Copyright protects the expression of ideas in the form of literary or artistic works, such as novels, videos, music, photographs, and other media works. It also applies to computer software. While copyright covers all content produced by a company, only certain assets may be of significant value on their own.</div>
                                <div class="content-part-title">Registered Design</div>
                                <div class="content-part-txt">Registered designs protect the aesthetic look of an article or non-physical product, like its shape, pattern, or configuration.</div>
                                <div class="content-part-title">Patent</div>
                                <div class="content-part-txt">Patents protect the functional elements of a technology or “how it works”. A patent should provide a technical solution, and an aspect of the solution must be novel, inventive and non-obvious.</div>
                                <div class="content-part-title">Brand</div>
                                <div class="content-part-txt">Brand refers to the way businesses’ products and services are experienced by consumers, along with market and customer opinions of the company. Having a brand helps to maintain a company’s distinction in the marketplace even if a competitor is offering a similar product. Additionally, different forms of protection over a brand are by themselves also IA, which include registered and unregistered trade marks, and domain names.</div>
                                <div class="content-part-title">Registered Trade Mark</div>
                                <div class="content-part-txt">Registered trade marks provide a formal registration to protect the brand from confusingly similar brands in the marketplace.</div>
                                <div class="content-part-title">Unregistered Trade Mark</div>
                                <div class="content-part-txt">Unregistered trade marks refer to a brand’s reputation, awareness among consumers, and offerings. Unlike registered trade marks, these rights arise from “use”, and is not registered.</div>
                                <div class="content-part-title">Domain Name</div>
                                <div class="content-part-txt">Internet addresses which contribute to online branding may be protected. Domain names provide another consumer touchpoint, which enhances overall brand presence.</div>
                                <div class="content-part-title">Data</div>
                                <div class="content-part-txt">Valuable data is either unique in origin or history, provides important insight, or has an associated value proposition. <span class="content-orange">Read also: Safeguarding Your Competitive Edge</span></div>
                                <div class="content-part-txt">This can range from client databases, estimated market size, actual number of products or services purchased, to milestone numbers that can predict trends. <span class="content-orange">Read also: From Pulling Data to Pushing Borders</span></div>
                                <div class="content-part-title">Trade Secrets / Know-how</div>
                                <div class="content-part-txt">Registered trade marks provide a formal registration to protect the brand from confusingly similar brands in the marketplace.</div>
                            </div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">What is IP management and how is it useful for my business?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">How do I know if I have intangible assets that should be protected or managed?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                    </div>
                </div>
                <div class="part part_2">
                    <p class="p__title">Discover Intangible Assets</p>
                    <div class="collapse-container">
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">What is the Discover Intangible Assets Programme?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">What kinds of companies will benefit from the programme?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">What How will my business benefit from this programme?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">Do I need to be well-versed in IP to embark on this programme?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">What does the programme entail?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content">
                                <p class="content-part-title">Understand</p>
                                <ul class="list-ul">Get a deep understanding of your IA by learning from our expert team about:
                                    <li class="p-item">The types of assets relevant to your business.</li>
                                    <li class="p-item">Corporate value, lifetime value, and impact of the IA to your business.</li>
                                    <li class="p-item">Effective IA management.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">What can I expect at the end of the programme?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">Who will I be working with for this programme?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">How long is the programme?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">What is the level of commitment required from me or my staff?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">How much does the programme cost?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">Who can I contact for more information on this programme?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                    </div>
                </div>
                <div class="part part_3">
                    <p class="p__title">Discover Intangible Assets</p>
                    <div class="collapse-container">
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">Is IPOS International operational? Is your office open?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">I have a matter pertaining to IPOS International. Should I come by your office?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">What Will IP Academy courses continue to be run?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">Can I get a refund if I wish to cancel my registration for a course, due to COVID-19? Is there a discount for courses that have been shifted online?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">Can I still consult an IP Strategist during this period?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                        <div class="collapse-item">
                            <div class="collapse-item-header">
                                <div class="header-txt">I have other questions – who should I reach out to?</div>
                                <div class="header-icon" style="background-image:url(/static/images/icon-plus.144c2e7.svg)"></div>
                            </div>
                            <div class="collapse-item-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
