<div class="split-vertical-line"></div>
<div class="talk-container container">
    <div class="content row justify-content-center">{{ pimcore_input('dscribe',{'placeholder' : 'describe...'}) }}</div>
    <div class="row contanct-us">

        {{ pimcore_link('contact',{
            'class' : 'contanct-us-button'
        }) }}
    </div>
</div>
</div>
