<div class="middle-img-layout">
    <section id="marked-content">
        {{  pimcore_wysiwyg("specialContent", {
            "height": 200,
            "placeholder" : "edit content..."
        })
        }}
    </section>
</div>
