{% set sidebarId = sidebarId | default(null) %}

<div class="pee-sidebar d-flex flex-column" id="pee-sidebar-{{ sidebarId }}">
    <div class="pee-sidebar__header d-flex p-3 justify-content-between align-items-center">
        <h4 class="m-0">
            {{ portalEngine_editmode_label('configuration') }}
        </h4>

        <a href="#" class="js-pe-open-sidebar py-1 px-3 pee-icon pee-icon__xl" data-href="pee-sidebar-{{ sidebarId }}">
            {{ portalEngine_inline_icon('angle-right') }}
        </a>
    </div>

    <div class="p-3 pee-sidebar__body">
        {% block sidebarContent %}{% endblock %}
    </div>
</div>