{% set label = label | default(null) %}
{% set config = config | default({}) %}

<div class="form-group">
    {% if label %}
        <label class="form-control-label">{{ portalEngine_editmode_label(label) }}</label><br/>
    {% endif %}

    {{ pimcore_checkbox(id, config) }}
</div>