
<div class="container">
    <section id="embed-text">
        {{  pimcore_textarea("textarea", {
            "height": 200,
            "htmlspecialchars" : false,
            "placeholder": "Embed your code here"
        })
        }}
    </section>
</div>
