<div class="pimcore_area_patent-analytics-download pimcore_area_content ">
    {#<a href="/en/resources/faqs x" class="btn border-purple">Read the FAQs xx</a>#}
    {{ pimcore_link('btnCtn',{
        'class' : 'btn border-purple'
    }) }}
</div>
